---
  layout: start
  title: JSConf EU 2014
  background: background17
  tags: homepage
  description: "JSConf EU, the labour-of-love conference for the JS community in Europe."
---


<section class="bg-pink_white">

  {% for post in site.tags.news limit: 1 %}
    <article class="wrapper wrapper-post">

      <div class="item-50 item_deco">
        <figure>
          <img src="{{ post.figure }}" width="400" height="400">
        </figure>
      </div>

      <div class="item-50 item-content">
        {{ post.content }}
      </div>

    </article>
  {% endfor %}

</section>


<section class="bg-blue-pat links-light">
  <div class="wrapper">
    <div class="item-50 item-content">
      <h1>The labour-of-love conference for the JS community in Europe</h1>
      <p>
        JSConf EU is a non-profit conference from the community for the community. Read up on the <a href="/why/">JSConf EU experience and what a ticket buys you</a>. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.
      </p>

      <p>
        {% include cta.html %}
      </p>

    </div>
    <div class="item-50 item_deco">
      <figure>
        <img src="img/jsconf-jenn-jed.jpg" alt="Jsconf Jenn Jed">
      </figure>
    </div>
  </div>
</section>


<section class="bg-pink_white">

  <div class="wrapper">
    <div class="item-50 item_deco">
      <figure>
        <img src="img/angelina-fabbro.jpg" alt="Jsconf Jenn Jed">
      </figure>
    </div>

    <div class="item-50 item-content">
      <h1>Speaking at JSConf EU</h1>
      <p>
        We are inviting the JavaScript community to submit talks for the upcoming JSConf EU. If you think you have something great to talk about, tell us all about it and we consider your entry. If you know someone who has something great to talk about, nominate them. And if you are interested in hearing about a particular topic, nominate the topic, and we can try and find a match.
      </p>

    </div>

  </div>

</section>



