---
  layout: start
  title: JSConf EU 2015
  background: background17
  tags: homepage
  description: "JSConf EU, the labour-of-love conference for the JS community in Europe."
---


<section class="bg-pink-white-off">

  {% for post in site.tags.news limit: 1 %}
    <article class="wrapper wrapper-post">

      <div class="item-50 item_deco">
        <figure>
          <img src="{{ site.baseurl }}{{ post.figure }}" width="400" height="400">
        </figure>
      </div>

      <div class="item-50 item-content">
        {{ post.content }}
      </div>

    </article>
  {% endfor %}

</section>

<section class="bg-blue-pat links-light">
  <div class="wrapper">
    <div class="item-50 item-content">
      <h1>The labour-of-love conference for the JS community in Europe</h1>
      <p>
        JSConf EU is a non-profit conference from the community for the community. Read up on the <a href="{{ site.baseurl }}/why/">JSConf EU experience and what a ticket buys you</a>.
      </p>

      <p>
        {% include cta.html %}
      </p>

    </div>
    <div class="item-50 item_deco">
      <figure>
        <img src="img/jsconf-jenn-jed.jpg" alt="Jsconf Jenn Jed">
      </figure>
    </div>
  </div>
</section>


<section class="bg-pink-white-off">

  <div class="wrapper">
    <div class="item-50 item_deco">
      <figure>
        <img src="img/angelina-fabbro.jpg" alt="Jsconf Jenn Jed">
      </figure>
    </div>

    <div class="item-50 item-content">
      <h1>Speaking at JSConf EU</h1>
      <p>
        We are inviting the JavaScript community to submit talks for the upcoming JSConf EU, and will open our Call for Presentations in March. If you think you have something great to talk about, you should consider submitting your idea. Here’s a resource to remind you <a href="http://weareallaweso.me/" target="_blank">why you should become a speaker</a>, and here are some tips on <a href="http://2014.cssconf.eu/news/how-to-write-a-great-talk-proposal-for-a-tech" target="_blank">how to write a great proposal</a>.
      </p>

    </div>

  </div>

</section>



