{% assign current = page.url | downcase | split: '/' %}


<footer class="site-footer">
  <div class="wrapper">
    <div class="item-87-5">
      <p class="links-light">
        JSConf EU welcomes everyone, and defends you from harassment. 
        <br class="show-mobile">
        <a href="{{ site.baseurl }}/code-of-conduct">Code of Conduct</a> |  <a href="http://wwwtf.berlin/">Part of wwwtf.berlin</a> | <a href="{{ site.baseurl }}/accessibility">Accessibility</a> | <a href="{{ site.baseurl }}/press">Press</a> | <a href="{{ site.baseurl }}/impressum">Impressum</a>
      </p>
    </div>
    <div class="item-12-5">
      <a href="{{ site.baseurl }}/" class='{% if current[1] == nil %}nav-active{% endif %} icon icon-footer'>
        <svg><use xlink:href="#svg-jsconfeu-logomark" /></svg>
      </a>
    </div>
  </div>
</footer>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="{{ site.baseurl }}/js/app.js"></script>
