{% assign current = page.url | downcase | split: '/' %}


<footer class="site-footer">
  <div class="wrapper">
    <div class="item-87-5">
      <p class="links-light">
        JSConf EU welcomes everyone, and defends you from harassment. 
        <br class="show-mobile">
        <a href="{{ site.baseurl }}/code-of-conduct">Code of Conduct</a> |  <a href="http://wwwtf.berlin/">Part of wwwtf.berlin</a> | <a href="{{ site.baseurl }}/accessibility">Accessibility</a> | <a href="{{ site.baseurl }}/press">Press</a> | <a href="{{ site.baseurl }}/impressum">Impressum</a>
      </p>
    </div>
    <div class="item-12-5">
      <a href="{{ site.baseurl }}/" class='{% if current[1] == nil %}nav-active{% endif %} icon icon-footer'>
        <svg><use xlink:href="#svg-jsconfeu-logomark" /></svg>
      </a>
    </div>
  </div>
</footer>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="{{ site.baseurl }}/js/app.js"></script>

<script>
    var _gaq = _gaq || [];_gaq.push(['_setAccount', 'UA-4656061-2']);
    _gaq.push(['_setDomainName', 'jsconf.eu']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  var _gauges = _gauges || [];
  (function() {
    var t   = document.createElement('script');
    t.type  = 'text/javascript';
    t.async = true;
    t.id    = 'gauges-tracker';
    t.setAttribute('data-site-id', '50570251f5a1f57282000003');
    t.src = '//secure.gaug.es/track.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(t, s);
  })();
</script>