<head>
  <meta charset="utf-8" />
  <title>JSConf EU 2015</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="canonical" href="http://2015.jsconf.eu/index.html" />
  <link rel="stylesheet" href="/stylesheets/screen.css?12345678" type="text/css" media="screen, projection" />
  <link rel="shortcut icon" href="/favicon.ico" />
  <meta name="google-site-verification" content="H6VZ353SM0CfTqymvhQPM0eLyWffpeRfyRjFlXLwNn0" />
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@jsconfeu">
  <meta itemprop="image" content="http://2015.jsconf.eu/img/js.eu.png">
  <meta name="twitter:image" content="http://2015.jsconf.eu/img/js.eu.png">
  <meta property="og:image" content="http://2015.jsconf.eu/img/js.eu.png"/>
  <meta name="twitter:creator" content="@jsconfeu">
  <meta itemprop="name" content="JSConf EU 2015">
  <meta name="twitter:title" content="JSConf EU 2015">
  <meta property="og:title" content="JSConf EU 2015" />
  <meta name="description" itemprop="description" content="JSConf EU, the labour-of-love conference for the JS community in Europe.">
  <meta name="twitter:description" content="JSConf EU, the labour-of-love conference for the JS community in Europe.">
  <meta property="og:description" content="JSConf EU, the labour-of-love conference for the JS community in Europe.">
</head>
