{% assign current = page.url | downcase | split: '/' %}

<nav class="site-nav">
  <a href="{{ site.baseurl }}/" class='{% if current[1] == nil %}nav-active{% endif %} icon' title="Home">
    <svg><use xlink:href="#svg-jsconfeu-logomark" /></svg>
    <img src="/img/js.eu.png" class="backup-logo">
  </a>
  <a href="{{ site.baseurl }}/news" {% if current[1] == 'news' %}class='nav-active'{% endif %}  title="News">News</a>
  <a href="{{ site.baseurl }}/sponsors" {% if current[1] == 'sponsors' %}class='nav-active'{% endif %}  title="Sponsors">Sponsors</a>
  <a href="{{ site.baseurl }}/about" {% if current[1] == 'about' %}class='nav-active'{% endif %}  title="About">About</a>
  <a href="{{ site.baseurl }}/location" {% if current[1] == 'location' %}class='nav-active'{% endif %}  title="Location">Location</a>
  <a href="{{ site.baseurl }}/speakers" {% if current[1] == 'speakers' %}class='nav-active'{% endif %} title="Speakers">Speakers</a>
  <a href="{{ site.baseurl }}/news/2015/09/14/talk-schedule/" {% if current[1] == 'schedule' %}class='nav-active'{% endif %} title="Schedule">Schedule</a>
  <!-- <a href="{{ site.baseurl }}/videos" {% if current[1] == 'videos' %}class='nav-active'{% endif %} title="Videos">Videos</a> -->
</nav>
