@charset "UTF-8";
/* Colors */
/* main jsconfeu pink */
@media (max-width: 768px) {
  /* line 7, ../sass/imports/_mixins.scss */
  .hide-mobile {
    display: none;
  }
}
/* line 6, ../sass/imports/_reset.scss */
html {
  box-sizing: border-box;
}

/* line 9, ../sass/imports/_reset.scss */
*, *:before, *:after {
  box-sizing: inherit;
}

/* line 13, ../sass/imports/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 25, ../sass/imports/_reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 26, ../sass/imports/_reset.scss */
body {
  line-height: 1;
}

/* line 27, ../sass/imports/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 28, ../sass/imports/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 29, ../sass/imports/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: ’’;
  content: none;
}

/* line 31, ../sass/imports/_reset.scss */
:focus {
  outline: none;
}

/* line 32, ../sass/imports/_reset.scss */
del {
  text-decoration: line-through;
}

/* line 33, ../sass/imports/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 1, ../sass/imports/_typography.scss */
body {
  font-size: 100%;
}

/* line 5, ../sass/imports/_typography.scss */
body, caption, th, td, input, textarea, select, option, legend, fieldset, h1, h2, h3, h4, h5, h6 {
  font-size-adjust: 0.5;
}

/* line 27, ../sass/imports/_typography.scss */
.item-content p, .item-content ul, .item-content ol, .item-content blockquote, .item-content pre {
  margin-bottom: 1.5em;
}
/* line 30, ../sass/imports/_typography.scss */
.item-content ul, .item-content ol {
  list-style: disc;
  padding-left: 1em;
}

/* line 36, ../sass/imports/_typography.scss */
.intro-p {
  font-size: 1.25em;
  line-height: 1.25;
}

/* line 41, ../sass/imports/_typography.scss */
h1 {
  font-size: 2em;
  line-height: 1.25;
  margin-bottom: .4em;
}

@media (min-width: 43.75em) {
  /* line 48, ../sass/imports/_typography.scss */
  h1 {
    font-size: 2.5em;
    line-height: 1.125;
  }
}
@media (min-width: 56.25em) {
  /* line 55, ../sass/imports/_typography.scss */
  h1 {
    font-size: 3em;
    line-height: 1.05;
  }
}
/* line 61, ../sass/imports/_typography.scss */
h2 {
  font-size: 1.625em;
  line-height: 1.15384615;
  margin-bottom: .5em;
}

@media (min-width: 43.75em) {
  /* line 68, ../sass/imports/_typography.scss */
  h2 {
    font-size: 2em;
    line-height: 1.25;
  }
}
@media (min-width: 56.25em) {
  /* line 75, ../sass/imports/_typography.scss */
  h2 {
    font-size: 2.25em;
    line-height: 1.25;
  }
}
/* line 81, ../sass/imports/_typography.scss */
h3 {
  font-size: 1.375em;
  line-height: 1.13636364;
  margin-bottom: .666em;
}

@media (min-width: 43.75em) {
  /* line 88, ../sass/imports/_typography.scss */
  h3 {
    font-size: 1.5em;
    line-height: 1.25;
  }
}
@media (min-width: 56.25em) {
  /* line 95, ../sass/imports/_typography.scss */
  h3 {
    font-size: 1.75em;
    line-height: 1.25;
  }
}
/* line 101, ../sass/imports/_typography.scss */
h4 {
  font-size: 1.125em;
  line-height: 1.11111111;
  margin-bottom: .875em;
}

@media (min-width: 43.75em) {
  /* line 108, ../sass/imports/_typography.scss */
  h4 {
    line-height: 1.22222222;
  }
}
/* line 113, ../sass/imports/_typography.scss */
blockquote {
  font-size: 1.25em;
  line-height: 1.25;
}

@media (min-width: 43.75em) {
  /* line 119, ../sass/imports/_typography.scss */
  blockquote {
    font-size: 1.5em;
    line-height: 1.45833333;
    border-left: 3px solid #FFF;
    padding-left: 1em;
  }
}
/* line 5, ../sass/imports/_main.scss */
body {
  font-family: "jaf-bernina-sans", sans-serif;
  font-size: 14px;
  line-height: 1.5em;
  color: #0C1222;
}
@media (min-width: 400px) {
  /* line 5, ../sass/imports/_main.scss */
  body {
    font-size: 16px;
  }
}
@media (min-width: 768px) {
  /* line 5, ../sass/imports/_main.scss */
  body {
    font-size: 18px;
  }
}
@media (min-width: 1280px) {
  /* line 5, ../sass/imports/_main.scss */
  body {
    font-size: 21px;
  }
}

/* line 25, ../sass/imports/_main.scss */
.font-bernina {
  font-family: "jaf-bernina-sans", sans-serif;
}

/* line 29, ../sass/imports/_main.scss */
nav, h1, h2, h3, h4,
.font-bernina-comp {
  font-family: "jaf-bernina-sans-comp", 'Arial Narrow' sans-serif;
}

/* line 34, ../sass/imports/_main.scss */
.font-domus {
  font-family: "jaf-domus-titling-web", sans-serif;
}

/* line 38, ../sass/imports/_main.scss */
a {
  color: #E10079;
  text-decoration: none;
  transition: background-color 0.5s ease;
}
/* line 42, ../sass/imports/_main.scss */
a:hover, a:focus {
  color: #e4a1c8;
}

/* line 46, ../sass/imports/_main.scss */
.text-blue {
  color: #051add;
}

/* line 50, ../sass/imports/_main.scss */
.text-light {
  color: #FFF;
}

/* line 54, ../sass/imports/_main.scss */
.links-light {
  color: #FFF;
}
/* line 58, ../sass/imports/_mixins.scss */
.links-light a {
  color: #e4a1c8;
}
/* line 60, ../sass/imports/_mixins.scss */
.links-light a:hover, .links-light a:focus {
  color: #f1f1f1;
}
/* line 64, ../sass/imports/_mixins.scss */
.links-light .btn {
  color: #FFF;
}
/* line 66, ../sass/imports/_mixins.scss */
.links-light .btn:hover, .links-light .btn:focus {
  color: #FFF;
}

/* line 59, ../sass/imports/_main.scss */
nav a {
  color: #f1f1f1;
  text-transform: uppercase;
  letter-spacing: .05em;
  letter-spacing: .15em;
}
/* line 63, ../sass/imports/_main.scss */
nav a:hover, nav a:focus {
  color: #e4a1c8;
}
/* line 66, ../sass/imports/_main.scss */
nav a.nav-active {
  color: #E10079;
}

/* line 72, ../sass/imports/_main.scss */
.btn {
  display: inline-block;
  height: 3.81em;
  line-height: 3.6em;
  width: 100%;
  max-width: 13.333em;
  background-color: #E10079;
  color: #FFF;
  font-family: "jaf-domus-titling-web", sans-serif;
  text-decoration: none;
  text-align: center;
}
/* line 83, ../sass/imports/_main.scss */
.btn:hover, .btn:focus {
  background-color: #e4a1c8;
  color: #FFF;
}

/* line 89, ../sass/imports/_main.scss */
.date {
  font-family: "jaf-domus-titling-web", sans-serif;
  font-size: .7857em;
  line-height: 1.27;
}

/* line 100, ../sass/imports/_main.scss */
.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1280px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
@media (min-width: 768px) {
  /* line 100, ../sass/imports/_main.scss */
  .wrapper {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

/* line 114, ../sass/imports/_main.scss */
.wrapper-post {
  align-items: flex-start;
}
/* line 116, ../sass/imports/_main.scss */
.wrapper-post figure {
  padding-top: .5em;
}

/* line 121, ../sass/imports/_main.scss */
.wrapper-logo {
  padding-top: 1.5em;
}
@media (min-width: 1024px) {
  /* line 121, ../sass/imports/_main.scss */
  .wrapper-logo {
    padding-top: 3em;
  }
}

/* line 128, ../sass/imports/_main.scss */
section .wrapper {
  padding-top: 3em;
  padding-bottom: 3em;
}
@media (min-width: 768px) {
  /* line 128, ../sass/imports/_main.scss */
  section .wrapper {
    padding-top: 4.5em;
    padding-bottom: 4.5em;
  }
}
@media (min-width: 1024px) {
  /* line 128, ../sass/imports/_main.scss */
  section .wrapper {
    padding-top: 6em;
    padding-bottom: 6em;
  }
}
@media (min-width: 1280px) {
  /* line 128, ../sass/imports/_main.scss */
  section .wrapper {
    padding-top: 8.5em;
    padding-bottom: 8.5em;
  }
}

/* line 147, ../sass/imports/_main.scss */
section .top-wrapper {
  padding-top: 1em;
  padding-bottom: 0;
}
@media (min-width: 768px) {
  /* line 147, ../sass/imports/_main.scss */
  section .top-wrapper {
    padding-top: 4.5em;
    padding-bottom: 0;
  }
}
@media (min-width: 1024px) {
  /* line 147, ../sass/imports/_main.scss */
  section .top-wrapper {
    padding-top: 6em;
    padding-bottom: 0;
  }
}
@media (min-width: 1280px) {
  /* line 147, ../sass/imports/_main.scss */
  section .top-wrapper {
    padding-top: 8.5em;
    padding-bottom: 0;
  }
}

/* line 164, ../sass/imports/_main.scss */
.page-title {
  text-transform: uppercase;
  letter-spacing: .05em;
}
@media (min-width: 768px) {
  /* line 164, ../sass/imports/_main.scss */
  .page-title {
    color: #FFF;
  }
}

/* line 171, ../sass/imports/_main.scss */
.section-line {
  height: 3px;
  background-color: #E10079;
}

/* line 177, ../sass/imports/_main.scss */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3.809em;
}
/* line 182, ../sass/imports/_main.scss */
nav a {
  flex-grow: 1;
}

/* line 187, ../sass/imports/_main.scss */
.icon {
  max-width: 1.5em;
}
/* line 189, ../sass/imports/_main.scss */
.icon svg {
  height: 1.5em;
  width: 100%;
  vertical-align: 0;
}

/* line 196, ../sass/imports/_main.scss */
.social-nav {
  max-width: 100px;
}
/* line 198, ../sass/imports/_main.scss */
.social-nav .icon {
  max-width: 1em;
}

/* line 204, ../sass/imports/_main.scss */
.site-nav a {
  text-align: right;
}

/* line 209, ../sass/imports/_main.scss */
.site-header, .site-footer {
  color: #FFF;
}

/* line 213, ../sass/imports/_main.scss */
.site-header {
  text-align: center;
}
@media (min-width: 768px) {
  /* line 213, ../sass/imports/_main.scss */
  .site-header {
    text-align: left;
  }
}

/* line 220, ../sass/imports/_main.scss */
.site-footer {
  background-color: #0C1222;
}
/* line 222, ../sass/imports/_main.scss */
.site-footer .wrapper {
  min-height: 80px;
  padding-top: 20px;
  padding-bottom: 20px;
  justify-content: center;
}
/* line 228, ../sass/imports/_main.scss */
.site-footer p {
  font-size: .7857em;
  line-height: 1.27;
}

/* line 233, ../sass/imports/_main.scss */
.site-logo {
  max-width: 420px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5em;
}
@media (min-width: 768px) {
  /* line 233, ../sass/imports/_main.scss */
  .site-logo {
    width: 100%;
    max-width: 540px;
    margin-left: 0;
    margin-bottom: 0;
  }
}
/* line 244, ../sass/imports/_main.scss */
.site-logo a {
  color: #FFF;
}
/* line 246, ../sass/imports/_main.scss */
.site-logo a:hover, .site-logo a:focus {
  color: #f1f1f1;
}
/* line 250, ../sass/imports/_main.scss */
.site-logo svg {
  display: block;
  width: 100%;
  max-height: 80px;
}

/* line 258, ../sass/imports/_main.scss */
.site-aside {
  margin-bottom: 3.5em;
}
/* line 260, ../sass/imports/_main.scss */
.site-aside p {
  margin-bottom: 1.5em;
}
/* line 263, ../sass/imports/_main.scss */
.site-aside .btn {
  margin-bottom: 1.5em;
  letter-spacing: .15em;
}

/* line 270, ../sass/imports/_main.scss */
.item-12-5,
.item-25,
.item-50,
.item-62-5,
.item-75,
.item-87-5,
.item-100 {
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
}

@media (min-width: 768px) {
  /* line 283, ../sass/imports/_main.scss */
  .item-12-5 {
    width: 12.5%;
  }

  /* line 286, ../sass/imports/_main.scss */
  .item-25 {
    width: 25%;
  }

  /* line 289, ../sass/imports/_main.scss */
  .item-50 {
    width: 50%;
  }

  /* line 292, ../sass/imports/_main.scss */
  .item-62-5 {
    width: 62.5%;
  }

  /* line 295, ../sass/imports/_main.scss */
  .item-75 {
    width: 75%;
  }

  /* line 298, ../sass/imports/_main.scss */
  .item-87-5 {
    width: 87.5%;
  }

  /* line 301, ../sass/imports/_main.scss */
  .item-100 {
    width: 100%;
  }
}
/* line 307, ../sass/imports/_main.scss */
.item-content {
  order: 2;
}
@media (min-width: 1024px) {
  /* line 307, ../sass/imports/_main.scss */
  .item-content {
    padding-right: 40px;
  }
}

/* line 314, ../sass/imports/_main.scss */
.item_deco {
  order: 1;
}
@media (min-width: 768px) {
  /* line 314, ../sass/imports/_main.scss */
  .item_deco {
    order: 2;
  }
}

/* line 325, ../sass/imports/_main.scss */
.sponsor {
  margin-bottom: 1.5em;
}
/* line 327, ../sass/imports/_main.scss */
.sponsor img {
  display: inline-block;
  max-width: 320px;
  width: 100%;
  height: auto;
  margin-top: 1em;
  margin-bottom: 1em;
}

/* line 337, ../sass/imports/_main.scss */
figure {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 1.5em;
  width: 100%;
  max-width: 420px;
}
/* line 344, ../sass/imports/_main.scss */
figure img {
  width: 100%;
  height: auto;
  z-index: 1;
  position: relative;
}

/* line 368, ../sass/imports/_main.scss */
.nav-fixed, .js-sticky-nav.active {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
}
/* line 373, ../sass/imports/_main.scss */
.nav-fixed.js-sticky-nav-blue, .js-sticky-nav.active.js-sticky-nav-blue {
  background-color: #051add;
}

/* line 378, ../sass/imports/_main.scss */
.nav-fixed + section {
  margin-top: 53px;
}

/* line 382, ../sass/imports/_main.scss */
.z-index-0 {
  z-index: 0;
}

/* line 386, ../sass/imports/_main.scss */
.sponsor-list {
  text-align: center;
  background: #FFF;
  padding: 40px 20px;
}
/* line 390, ../sass/imports/_main.scss */
.sponsor-list a {
  display: inline-block;
  vertical-align: middle;
  max-width: 80px;
  margin: 1em 4%;
}
/* line 395, ../sass/imports/_main.scss */
.sponsor-list a img {
  width: 100%;
  height: auto;
}

/* line 428, ../sass/imports/_main.scss */
.sponsor-content img {
  width: 100%;
  max-width: 320px;
  height: auto;
  display: block;
}

/* line 438, ../sass/imports/_main.scss */
.speaker-header {
  position: relative;
}

/* line 442, ../sass/imports/_main.scss */
.speaker-aside img {
  display: block;
  width: 100%;
  height: auto;
}
/* line 447, ../sass/imports/_main.scss */
.speaker-aside .speaker-info {
  font-size: .7857em;
  line-height: 1.27;
  line-height: 2;
  list-style: none;
  padding-left: 0;
}
/* line 452, ../sass/imports/_main.scss */
.speaker-aside .speaker-info a {
  display: block;
}
@media (min-width: 768px) {
  /* line 441, ../sass/imports/_main.scss */
  .speaker-aside {
    position: absolute;
    width: 80px;
    top: 0;
    left: -100px;
    text-align: right;
  }
}

/* line 467, ../sass/imports/_main.scss */
.video {
  border-bottom: 3px solid #E10079;
  margin-bottom: 1.5em;
}

/* line 472, ../sass/imports/_main.scss */
.video-preview {
  float: right;
  margin-left: 20px;
  margin-bottom: 1em;
  position: relative;
}
/* line 477, ../sass/imports/_main.scss */
.video-preview img {
  display: block;
}
/* line 480, ../sass/imports/_main.scss */
.video-preview .video-preview-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
}
/* line 487, ../sass/imports/_main.scss */
.video-preview .video-preview-icon svg {
  max-width: 25%;
  height: 100%;
}

/* line 494, ../sass/imports/_main.scss */
.video_info {
  margin-bottom: 1.5em;
  font-size: .7857em;
  line-height: 1.27;
}

/* line 1, ../sass/imports/_article.scss */
article {
  margin-bottom: 4.5em;
}

/* line 6, ../sass/imports/_article.scss */
.embed_container {
  position: relative;
  margin-bottom: 1.5em;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

/* line 15, ../sass/imports/_article.scss */
.embed_container iframe,
.embed_container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 5, ../sass/imports/_backgrounds.scss */
.bg-dark {
  background-color: #0C1222;
}

/* line 9, ../sass/imports/_backgrounds.scss */
.bg-blue {
  background-color: #051add;
}

/* line 13, ../sass/imports/_backgrounds.scss */
.bg-blue-pat {
  color: #FFF;
  background-color: #0C1222;
  border-top: 1em solid #051add;
}
@media (min-width: 768px) {
  /* line 13, ../sass/imports/_backgrounds.scss */
  .bg-blue-pat {
    border-top: none;
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 25%, #051add 25%, #051add 100%), url(/img/jsconf-pattern.svg);
    background-repeat: repeat, repeat;
    background-position: 0 0, 0 0;
  }
}
@media (min-width: 1280px) {
  /* line 13, ../sass/imports/_backgrounds.scss */
  .bg-blue-pat {
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) calc((.25 * 1280px) + ((100% - 1280px)/2)), #051add calc((.25 * 1280px) + ((100% - 1280px)/2)), #051add 100%), url(/img/jsconf-pattern.svg);
  }
}

/* line 47, ../sass/imports/_backgrounds.scss */
.bg-blue-pat-header {
  background-color: #0C1222;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) 100%), url(/img/jsconf-pattern.svg);
  background-attachment: fixed;
  background-repeat: repeat;
  background-position: 0 0;
  border: none;
}
@media (min-width: 768px) {
  /* line 47, ../sass/imports/_backgrounds.scss */
  .bg-blue-pat-header {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 75%, #051add 75%, #051add 100%), linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) 100%), url(/img/jsconf-pattern.svg);
  }
}
@media (min-width: 1280px) {
  /* line 47, ../sass/imports/_backgrounds.scss */
  .bg-blue-pat-header {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) calc((.75 * 1280px) + ((100% - 1280px)/2)), #051add calc((.75 * 1280px) + ((100% - 1280px)/2)), #051add 100%), linear-gradient(to bottom, rgba(12, 18, 34, 0.75), rgba(12, 18, 34, 0.8) 100%), url(/img/jsconf-pattern.svg);
  }
}

/* line 98, ../sass/imports/_backgrounds.scss */
.bg-pink_white_off {
  background-color: #f1f1f1;
  border-top: 1em solid #E10079;
}
@media (min-width: 768px) {
  /* line 98, ../sass/imports/_backgrounds.scss */
  .bg-pink_white_off {
    border: none;
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 75%, #e10079 75%, #e10079 100%);
  }
}
@media (min-width: 1280px) {
  /* line 98, ../sass/imports/_backgrounds.scss */
  .bg-pink_white_off {
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) calc((.75 * 1280px) + ((100% - 1280px)/2)), #e10079 calc((.75 * 1280px) + ((100% - 1280px)/2)), #e10079 100%);
  }
}

/* line 127, ../sass/imports/_backgrounds.scss */
.bg-pink_white {
  background-color: #f1f1f1;
  border-top: 1em solid #E10079;
}
@media (min-width: 768px) {
  /* line 127, ../sass/imports/_backgrounds.scss */
  .bg-pink_white {
    border: none;
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 75%, #e10079 75%, #e10079 100%);
  }
}
@media (min-width: 1280px) {
  /* line 127, ../sass/imports/_backgrounds.scss */
  .bg-pink_white {
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) calc((.75 * 1280px) + ((100% - 1280px)/2)), #e10079 calc((.75 * 1280px) + ((100% - 1280px)/2)), #e10079 100%);
  }
}

/* line 157, ../sass/imports/_backgrounds.scss */
.bg-pat-top {
  background-color: #0C1222;
  border-color: #0C1222;
  border-top: 5em solid #0C1222;
  border-image: url(/img/jsconf-pattern.svg) 90 repeat;
}

/* line 170, ../sass/imports/_backgrounds.scss */
.bg-no-border {
  border-top: none;
}
