@charset "UTF-8";
/* Colors */
/* main jsconfeu pink */
@media (max-width: 768px) {
  /* line 8, ../sass/imports/_mixins.scss */
  .hide-mobile {
    display: none;
  }
}
@media (min-width: 768px) {
  /* line 11, ../sass/imports/_mixins.scss */
  .show-mobile {
    display: none;
  }
}
/* line 6, ../sass/imports/_reset.scss */
html {
  box-sizing: border-box;
}

/* line 9, ../sass/imports/_reset.scss */
*, *:before, *:after {
  box-sizing: inherit;
}

/* line 13, ../sass/imports/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 25, ../sass/imports/_reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 26, ../sass/imports/_reset.scss */
body {
  line-height: 1;
}

/* line 27, ../sass/imports/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 28, ../sass/imports/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 29, ../sass/imports/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: ’’;
  content: none;
}

/* line 31, ../sass/imports/_reset.scss */
:focus {
  outline: none;
}

/* line 32, ../sass/imports/_reset.scss */
del {
  text-decoration: line-through;
}

/* line 33, ../sass/imports/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 1, ../sass/imports/_typography.scss */
body {
  font-size: 100%;
  font-family: "jaf-bernina-sans", Arial, sans-serif;
}

/* line 6, ../sass/imports/_typography.scss */
body, caption, th, td, input, textarea, select, option, legend, fieldset, h1, h2, h3, h4, h5, h6 {
  font-size-adjust: 0.5;
}

/* line 28, ../sass/imports/_typography.scss */
.item-content p, .item-content ul, .item-content ol, .item-content blockquote, .item-content pre {
  margin-bottom: 1.5em;
}
/* line 31, ../sass/imports/_typography.scss */
.item-content ul, .item-content ol {
  list-style: disc;
  padding-left: 1em;
}

/* line 38, ../sass/imports/_typography.scss */
.font-bernina {
  font-family: "jaf-bernina-sans", Arial, sans-serif;
}

/* line 42, ../sass/imports/_typography.scss */
nav, h1, h2, h3, h4,
.font-bernina-comp {
  font-family: "jaf-bernina-sans-comp", 'Arial Narrow', sans-serif;
}

/* line 47, ../sass/imports/_typography.scss */
.font-domus, .site-aside, .date, .btn {
  font-family: "jaf-domus-titling-web", Arial, sans-serif;
}

/* This trades chance of FOUC for ultra slow loading
.wf-loading {
  h1, h2, h3, h4, h5, p, li, pre, blockquote, span {
    visibility: hidden;
  }
}

.wf-active, .wf-inactive {
  h1, h2, h3, h4, h5, p, li, pre, blockquote, span {
    visibility: visible;
  }
}
*/
/* line 65, ../sass/imports/_typography.scss */
.intro-p {
  font-size: 1.25em;
  line-height: 1.25;
}

/* line 70, ../sass/imports/_typography.scss */
h1 {
  font-size: 2em;
  line-height: 1.25;
  margin-bottom: .4em;
}

@media (min-width: 43.75em) {
  /* line 77, ../sass/imports/_typography.scss */
  h1 {
    font-size: 2.5em;
    line-height: 1.125;
  }
}
@media (min-width: 56.25em) {
  /* line 84, ../sass/imports/_typography.scss */
  h1 {
    font-size: 3em;
    line-height: 1.05;
  }
}
/* line 90, ../sass/imports/_typography.scss */
h2 {
  font-size: 1.625em;
  line-height: 1.15384615;
  margin-bottom: .5em;
}

@media (min-width: 43.75em) {
  /* line 97, ../sass/imports/_typography.scss */
  h2 {
    font-size: 2em;
    line-height: 1.25;
  }
}
@media (min-width: 56.25em) {
  /* line 104, ../sass/imports/_typography.scss */
  h2 {
    font-size: 2.25em;
    line-height: 1.25;
  }
}
/* line 110, ../sass/imports/_typography.scss */
h3 {
  font-size: 1.375em;
  line-height: 1.13636364;
  margin-bottom: .666em;
}

@media (min-width: 43.75em) {
  /* line 117, ../sass/imports/_typography.scss */
  h3 {
    font-size: 1.5em;
    line-height: 1.25;
  }
}
@media (min-width: 56.25em) {
  /* line 124, ../sass/imports/_typography.scss */
  h3 {
    font-size: 1.75em;
    line-height: 1.25;
  }
}
/* line 130, ../sass/imports/_typography.scss */
h4 {
  font-size: 1.125em;
  line-height: 1.11111111;
  margin-bottom: .875em;
}

@media (min-width: 43.75em) {
  /* line 137, ../sass/imports/_typography.scss */
  h4 {
    line-height: 1.22222222;
  }
}
/* line 142, ../sass/imports/_typography.scss */
blockquote {
  font-size: 1.25em;
  line-height: 1.25;
}

@media (min-width: 43.75em) {
  /* line 148, ../sass/imports/_typography.scss */
  blockquote {
    font-size: 1.5em;
    line-height: 1.45833333;
    border-left: 3px solid #FFF;
    padding-left: 1em;
  }
}
/* line 5, ../sass/imports/_main.scss */
body {
  font-size: 14px;
  line-height: 1.5em;
  color: #0C1222;
}
@media (min-width: 400px) {
  /* line 5, ../sass/imports/_main.scss */
  body {
    font-size: 16px;
  }
}
@media (min-width: 768px) {
  /* line 5, ../sass/imports/_main.scss */
  body {
    font-size: 18px;
  }
}
@media (min-width: 1280px) {
  /* line 5, ../sass/imports/_main.scss */
  body {
    font-size: 21px;
  }
}
/* line 22, ../sass/imports/_main.scss */
body.start {
  background: #0C1222 url('/img/jsconf-pattern.svg?1422812108') 0 0 repeat fixed;
}

/* line 28, ../sass/imports/_main.scss */
a {
  color: #E10079;
  text-decoration: none;
  -webkit-transition: background-color 0.25s ease, color 0.25s ease, border-color 0.25s ease;
          transition: background-color 0.25s ease, color 0.25s ease, border-color 0.25s ease;
}
/* line 32, ../sass/imports/_main.scss */
a:hover, a:focus {
  color: #e4a1c8;
}

/* line 36, ../sass/imports/_main.scss */
.text-blue {
  color: #051add;
}

/* line 40, ../sass/imports/_main.scss */
.text-light {
  color: #FFF;
}

/* line 44, ../sass/imports/_main.scss */
.links-light {
  color: #FFF;
}
/* line 68, ../sass/imports/_mixins.scss */
.links-light a {
  color: #e4a1c8;
}
/* line 70, ../sass/imports/_mixins.scss */
.links-light a:hover, .links-light a:focus {
  color: #f1f1f1;
}
/* line 74, ../sass/imports/_mixins.scss */
.links-light .btn {
  color: #FFF;
}
/* line 76, ../sass/imports/_mixins.scss */
.links-light .btn:hover, .links-light .btn:focus {
  color: #FFF;
}

/* line 49, ../sass/imports/_main.scss */
nav a {
  color: #f1f1f1;
  text-transform: uppercase;
  letter-spacing: .05em;
  letter-spacing: .15em;
}
/* line 53, ../sass/imports/_main.scss */
nav a:hover, nav a:focus {
  color: #e4a1c8;
}
/* line 56, ../sass/imports/_main.scss */
nav a .nav-active {
  color: #E10079;
}

/* line 62, ../sass/imports/_main.scss */
.btn {
  display: inline-block;
  height: 4em;
  line-height: 3.6;
  font-size: 1.143em;
  width: 100%;
  max-width: 13.333em;
  border: 3px solid currentColor;
  color: #FFF;
  letter-spacing: .15em;
  text-decoration: none;
  text-align: center;
}
/* line 74, ../sass/imports/_main.scss */
.btn:hover, .btn:focus {
  color: #e4a1c8;
}

/* line 79, ../sass/imports/_main.scss */
.btn-disabled:hover, .btn-disabled:focus {
  color: #FFF;
  cursor: default;
}

/* line 85, ../sass/imports/_main.scss */
.bg-pink-white-off .btn,
.bg-pink-white .btn,
.btn-blue {
  color: #051add;
}
/* line 89, ../sass/imports/_main.scss */
.bg-pink-white-off .btn:hover, .bg-pink-white-off .btn:focus,
.bg-pink-white .btn:hover,
.bg-pink-white .btn:focus,
.btn-blue:hover,
.btn-blue:focus {
  color: #E10079;
}
/* line 93, ../sass/imports/_main.scss */
.bg-pink-white-off .btn .btn-disabled:hover, .bg-pink-white-off .btn .btn-disabled:focus,
.bg-pink-white .btn .btn-disabled:hover,
.bg-pink-white .btn .btn-disabled:focus,
.btn-blue .btn-disabled:hover,
.btn-blue .btn-disabled:focus {
  color: #051add;
}

/* line 102, ../sass/imports/_main.scss */
.btn-nav {
  font-size: .8751em;
  max-width: 160px;
  height: 2.2em;
  line-height: 1.6;
  float: right;
}

/* line 110, ../sass/imports/_main.scss */
.date {
  font-size: .7857em;
  line-height: 1.27;
}

/* line 115, ../sass/imports/_main.scss */
.bottom-margin {
  margin-bottom: 1.5em;
}

/* line 124, ../sass/imports/_main.scss */
.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 600px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (min-width: 768px) {
  /* line 124, ../sass/imports/_main.scss */
  .wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    max-width: 1280px;
  }
}

/* line 139, ../sass/imports/_main.scss */
.wrapper-post {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}
/* line 141, ../sass/imports/_main.scss */
.wrapper-post figure {
  margin-top: .5em;
}

/* line 146, ../sass/imports/_main.scss */
.wrapper-logo {
  padding-top: 4.5em;
  padding-bottom: 3em;
}
@media (min-width: 1024px) {
  /* line 146, ../sass/imports/_main.scss */
  .wrapper-logo {
    padding-top: 6em;
  }
}

/* line 154, ../sass/imports/_main.scss */
section .wrapper {
  padding-top: 3em;
  padding-bottom: 3em;
}
@media (min-width: 768px) {
  /* line 154, ../sass/imports/_main.scss */
  section .wrapper {
    padding-top: 4.5em;
    padding-bottom: 4.5em;
  }
}
@media (min-width: 1024px) {
  /* line 154, ../sass/imports/_main.scss */
  section .wrapper {
    padding-top: 6em;
    padding-bottom: 6em;
  }
}
@media (min-width: 1280px) {
  /* line 154, ../sass/imports/_main.scss */
  section .wrapper {
    padding-top: 8.5em;
    padding-bottom: 8.5em;
  }
}

/* line 173, ../sass/imports/_main.scss */
section .top-wrapper {
  padding-top: 1em;
  padding-bottom: 0;
}
@media (min-width: 768px) {
  /* line 173, ../sass/imports/_main.scss */
  section .top-wrapper {
    padding-top: 4.5em;
    padding-bottom: 0;
  }
}
@media (min-width: 1024px) {
  /* line 173, ../sass/imports/_main.scss */
  section .top-wrapper {
    padding-top: 6em;
    padding-bottom: 0;
  }
}
@media (min-width: 1280px) {
  /* line 173, ../sass/imports/_main.scss */
  section .top-wrapper {
    padding-top: 8.5em;
    padding-bottom: 0;
  }
}

/* line 190, ../sass/imports/_main.scss */
.page-title {
  text-transform: uppercase;
  letter-spacing: .05em;
}
@media (min-width: 768px) {
  /* line 190, ../sass/imports/_main.scss */
  .page-title {
    color: #FFF;
  }
}

/* line 197, ../sass/imports/_main.scss */
.section-line {
  height: 3px;
  background-color: #E10079;
}

/* line 203, ../sass/imports/_main.scss */
nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 3.809em;
}
/* line 208, ../sass/imports/_main.scss */
nav a {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: center;
  margin-left: 2em;
}
/* line 213, ../sass/imports/_main.scss */
nav .icon {
  max-width: 2.5em;
  margin-left: -.5em;
  margin-right: -.5em;
  padding-left: .5em;
  padding-right: .5em;
}

/* line 222, ../sass/imports/_main.scss */
.icon {
  max-width: 1.5em;
  line-height: 1;
}
/* line 225, ../sass/imports/_main.scss */
.icon svg {
  height: 1.5em;
  width: 100%;
  vertical-align: 0;
}

/* line 231, ../sass/imports/_main.scss */
.icon-footer {
  display: block;
  float: right;
  margin-top: 1.5em;
  margin-bottom: 1em;
}
@media (min-width: 768px) {
  /* line 231, ../sass/imports/_main.scss */
  .icon-footer {
    margin: 0 0 0 20px;
  }
}

/* line 242, ../sass/imports/_main.scss */
.social-nav .icon {
  max-width: 2em;
}

/* line 247, ../sass/imports/_main.scss */
.site-header, .site-footer {
  color: #FFF;
}

/* line 251, ../sass/imports/_main.scss */
.site-header {
  text-align: center;
}
@media (min-width: 768px) {
  /* line 251, ../sass/imports/_main.scss */
  .site-header {
    text-align: left;
  }
}

/* line 258, ../sass/imports/_main.scss */
.site-footer {
  background-color: #0C1222;
}
/* line 260, ../sass/imports/_main.scss */
.site-footer .wrapper {
  min-height: 80px;
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/* line 266, ../sass/imports/_main.scss */
.site-footer p {
  font-size: .7857em;
  line-height: 1.27;
}

/* line 271, ../sass/imports/_main.scss */
.site-logo {
  max-width: 420px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5em;
}
/* line 276, ../sass/imports/_main.scss */
.site-logo a {
  color: #FFF;
}
/* line 278, ../sass/imports/_main.scss */
.site-logo a:hover, .site-logo a:focus {
  color: #f1f1f1;
}
/* line 282, ../sass/imports/_main.scss */
.site-logo svg {
  display: block;
  width: 100%;
  max-height: 80px;
}
@media (min-width: 768px) {
  /* line 271, ../sass/imports/_main.scss */
  .site-logo {
    width: 100%;
    max-width: 540px;
    margin-left: 0;
    margin-bottom: 0;
  }
  /* line 292, ../sass/imports/_main.scss */
  .site-logo svg {
    max-height: 100px;
  }
}

/* line 299, ../sass/imports/_main.scss */
.site-aside {
  margin-bottom: 3.5em;
}
/* line 301, ../sass/imports/_main.scss */
.site-aside p {
  margin-bottom: 1.5em;
}
/* line 304, ../sass/imports/_main.scss */
.site-aside .btn {
  margin-bottom: 1.5em;
}

/* line 310, ../sass/imports/_main.scss */
.item-12-5,
.item-25,
.item-50,
.item-62-5,
.item-75,
.item-87-5,
.item-100 {
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
}

@media (min-width: 768px) {
  /* line 323, ../sass/imports/_main.scss */
  .item-12-5 {
    width: 12.5%;
  }

  /* line 326, ../sass/imports/_main.scss */
  .item-25 {
    width: 25%;
  }

  /* line 329, ../sass/imports/_main.scss */
  .item-50 {
    width: 50%;
  }

  /* line 332, ../sass/imports/_main.scss */
  .item-62-5 {
    width: 62.5%;
  }

  /* line 335, ../sass/imports/_main.scss */
  .item-75 {
    width: 75%;
  }

  /* line 338, ../sass/imports/_main.scss */
  .item-87-5 {
    width: 87.5%;
  }

  /* line 341, ../sass/imports/_main.scss */
  .item-100 {
    width: 100%;
  }
}
/* line 347, ../sass/imports/_main.scss */
.item-content {
  -webkit-box-ordinal-group: 3;
  -webkit-order: 2;
      -ms-flex-order: 2;
          order: 2;
}
@media (min-width: 1024px) {
  /* line 347, ../sass/imports/_main.scss */
  .item-content {
    padding-right: 40px;
  }
}

/* line 354, ../sass/imports/_main.scss */
.item_deco {
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1;
}
@media (min-width: 768px) {
  /* line 354, ../sass/imports/_main.scss */
  .item_deco {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
  }
}

/* line 362, ../sass/imports/_main.scss */
.img-flex {
  width: 100%;
  height: auto;
  max-width: 580px;
}

/* line 369, ../sass/imports/_main.scss */
.curator img {
  width: 100%;
  height: auto;
  display: block;
  max-width: 240px;
}

/* line 376, ../sass/imports/_main.scss */
.sponsor {
  border-bottom: 3px solid #E10079;
  margin-bottom: 3em;
}
/* line 379, ../sass/imports/_main.scss */
.sponsor img {
  display: inline-block;
  max-width: 320px;
  width: 100%;
  height: auto;
  margin-top: 1em;
  margin-bottom: 1em;
}

/* line 389, ../sass/imports/_main.scss */
.figure-sponsor {
  padding: 3em;
  background-color: #FFF;
}

/* line 394, ../sass/imports/_main.scss */
figure {
  position: relative;
  margin-bottom: 1.5em;
  width: 100%;
  max-width: 420px;
}
/* line 399, ../sass/imports/_main.scss */
figure img {
  width: 100%;
  height: auto;
  z-index: 1;
  position: relative;
}
@media (min-width: 768px) {
  /* line 394, ../sass/imports/_main.scss */
  figure {
    margin-right: auto;
    margin-left: auto;
  }
}

/* line 411, ../sass/imports/_main.scss */
.nav-fixed, .js-sticky-nav.active {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
}
/* line 416, ../sass/imports/_main.scss */
.nav-fixed.js-sticky-nav-blue, .js-sticky-nav.active.js-sticky-nav-blue {
  background-color: #051add;
}

/* line 421, ../sass/imports/_main.scss */
.nav-fixed + section {
  margin-top: 53px;
}

/* line 425, ../sass/imports/_main.scss */
.z-index-0 {
  z-index: 0;
}

/* line 429, ../sass/imports/_main.scss */
.sponsor-list {
  text-align: center;
  background: #FFF;
  padding: 40px 20px;
}
/* line 433, ../sass/imports/_main.scss */
.sponsor-list a {
  display: inline-block;
  vertical-align: middle;
  max-width: 80px;
  margin: 1em 4%;
}
/* line 438, ../sass/imports/_main.scss */
.sponsor-list a img {
  width: 100%;
  height: auto;
}

/* line 448, ../sass/imports/_main.scss */
.speaker-header {
  position: relative;
}

/* line 452, ../sass/imports/_main.scss */
.speaker-aside img {
  width: 100%;
  height: auto;
  display: block;
  margin-bottom: 1.5em;
  max-width: 320px;
}
/* line 458, ../sass/imports/_main.scss */
.speaker-aside .speaker-info {
  font-size: .7857em;
  line-height: 1.27;
  line-height: 2;
  list-style: none;
  padding-left: 0;
}
/* line 463, ../sass/imports/_main.scss */
.speaker-aside .speaker-info a {
  display: block;
}
@media (min-width: 768px) {
  /* line 451, ../sass/imports/_main.scss */
  .speaker-aside {
    position: absolute;
    top: 0;
    width: 120px;
    left: -140px;
    padding-top: .25em;
    text-align: right;
  }
}

/* line 479, ../sass/imports/_main.scss */
.video {
  border-bottom: 3px solid #E10079;
  margin-bottom: 1.5em;
}

/* line 484, ../sass/imports/_main.scss */
.video-preview {
  float: right;
  margin-left: 20px;
  margin-bottom: 1em;
  position: relative;
}
/* line 489, ../sass/imports/_main.scss */
.video-preview img {
  display: block;
}
/* line 492, ../sass/imports/_main.scss */
.video-preview .video-preview-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
}
/* line 499, ../sass/imports/_main.scss */
.video-preview .video-preview-icon svg {
  max-width: 25%;
  height: 100%;
}

/* line 506, ../sass/imports/_main.scss */
.video_info {
  margin-bottom: 1.5em;
  font-size: .7857em;
  line-height: 1.27;
}

/* line 1, ../sass/imports/_article.scss */
article {
  margin-bottom: 4.5em;
}

/* line 6, ../sass/imports/_article.scss */
.embed_container {
  position: relative;
  margin-bottom: 1.5em;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

/* line 15, ../sass/imports/_article.scss */
.embed_container iframe,
.embed_container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 5, ../sass/imports/_backgrounds.scss */
.bg-dark {
  background-color: #0C1222;
}

/* line 9, ../sass/imports/_backgrounds.scss */
.bg-blue {
  background-color: #051add;
}

/* line 13, ../sass/imports/_backgrounds.scss */
.bg-blue-pat {
  color: #FFF;
  border-top: 1em solid #051add;
}
@media (min-width: 768px) {
  /* line 13, ../sass/imports/_backgrounds.scss */
  .bg-blue-pat {
    border-top: none;
    background-image: -webkit-linear-gradient(right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 25%, #051add 25%, #051add 100%);
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 25%, #051add 25%, #051add 100%);
    background-repeat: repeat;
    background-position: 0 0;
  }
}
@media (min-width: 1280px) {
  /* line 13, ../sass/imports/_backgrounds.scss */
  .bg-blue-pat {
    background-image: -webkit-linear-gradient(right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) calc((.25 * 1280px) + ((100% - 1280px)/2)), #051add calc((.25 * 1280px) + ((100% - 1280px)/2)), #051add 100%);
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) calc((.25 * 1280px) + ((100% - 1280px)/2)), #051add calc((.25 * 1280px) + ((100% - 1280px)/2)), #051add 100%);
  }
}

/* line 45, ../sass/imports/_backgrounds.scss */
.bg-blue-pat-header {
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) 100%);
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) 100%);
  background-repeat: repeat;
  background-position: 0 0;
  border: none;
}
@media (min-width: 768px) {
  /* line 45, ../sass/imports/_backgrounds.scss */
  .bg-blue-pat-header {
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 75%, #051add 75%, #051add 100%), -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) 100%);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 75%, #051add 75%, #051add 100%), linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) 100%);
  }
}
@media (min-width: 1280px) {
  /* line 45, ../sass/imports/_backgrounds.scss */
  .bg-blue-pat-header {
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) calc((.75 * 1280px) + ((100% - 1280px)/2)), #051add calc((.75 * 1280px) + ((100% - 1280px)/2)), #051add 100%), -webkit-linear-gradient(top, rgba(12, 18, 34, 0.75), rgba(12, 18, 34, 0.8) 100%);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) calc((.75 * 1280px) + ((100% - 1280px)/2)), #051add calc((.75 * 1280px) + ((100% - 1280px)/2)), #051add 100%), linear-gradient(to bottom, rgba(12, 18, 34, 0.75), rgba(12, 18, 34, 0.8) 100%);
  }
}
/* line 89, ../sass/imports/_backgrounds.scss */
.bg-blue-pat-header.nav-fixed {
  background-color: #0C1222;
}
@media (min-width: 768px) {
  /* line 89, ../sass/imports/_backgrounds.scss */
  .bg-blue-pat-header.nav-fixed {
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 75%, #051add 75%, #051add 100%), -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) 100%), url('/img/jsconf-pattern.svg?1422812108');
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 75%, #051add 75%, #051add 100%), linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) 100%), url('/img/jsconf-pattern.svg?1422812108');
  }
}
@media (min-width: 1280px) {
  /* line 89, ../sass/imports/_backgrounds.scss */
  .bg-blue-pat-header.nav-fixed {
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) calc((.75 * 1280px) + ((100% - 1280px)/2)), #051add calc((.75 * 1280px) + ((100% - 1280px)/2)), #051add 100%), -webkit-linear-gradient(top, rgba(12, 18, 34, 0.75), rgba(12, 18, 34, 0.8) 100%), url('/img/jsconf-pattern.svg?1422812108');
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) calc((.75 * 1280px) + ((100% - 1280px)/2)), #051add calc((.75 * 1280px) + ((100% - 1280px)/2)), #051add 100%), linear-gradient(to bottom, rgba(12, 18, 34, 0.75), rgba(12, 18, 34, 0.8) 100%), url('/img/jsconf-pattern.svg?1422812108');
  }
}

/* line 129, ../sass/imports/_backgrounds.scss */
.bg-pink-white-off {
  background-color: #f1f1f1;
  border-top: 1em solid #E10079;
}
@media (min-width: 768px) {
  /* line 129, ../sass/imports/_backgrounds.scss */
  .bg-pink-white-off {
    border: none;
    background-image: -webkit-linear-gradient(right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 75%, #e10079 75%, #e10079 100%);
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 75%, #e10079 75%, #e10079 100%);
  }
}
@media (min-width: 1280px) {
  /* line 129, ../sass/imports/_backgrounds.scss */
  .bg-pink-white-off {
    background-image: -webkit-linear-gradient(right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) calc((.75 * 1280px) + ((100% - 1280px)/2)), #e10079 calc((.75 * 1280px) + ((100% - 1280px)/2)), #e10079 100%);
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) calc((.75 * 1280px) + ((100% - 1280px)/2)), #e10079 calc((.75 * 1280px) + ((100% - 1280px)/2)), #e10079 100%);
  }
}

/* line 158, ../sass/imports/_backgrounds.scss */
.bg-pink-white {
  background-color: #FFF;
  border-top: 1em solid #E10079;
}
@media (min-width: 768px) {
  /* line 158, ../sass/imports/_backgrounds.scss */
  .bg-pink-white {
    border: none;
    background-image: -webkit-linear-gradient(right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 75%, #e10079 75%, #e10079 100%);
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 75%, #e10079 75%, #e10079 100%);
  }
}
@media (min-width: 1280px) {
  /* line 158, ../sass/imports/_backgrounds.scss */
  .bg-pink-white {
    background-image: -webkit-linear-gradient(right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) calc((.75 * 1280px) + ((100% - 1280px)/2)), #e10079 calc((.75 * 1280px) + ((100% - 1280px)/2)), #e10079 100%);
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) calc((.75 * 1280px) + ((100% - 1280px)/2)), #e10079 calc((.75 * 1280px) + ((100% - 1280px)/2)), #e10079 100%);
  }
}

/* line 188, ../sass/imports/_backgrounds.scss */
.bg-pat-top {
  border-color: #0C1222;
  border-top: 5em solid #0C1222;
}

/* line 201, ../sass/imports/_backgrounds.scss */
.bg-no-border {
  border-top: none;
}
