---
layout: default
---

{% include header.html %}

<section class="{% if page.pattern %}
                  {{ page.pattern }}
                {% else %}
                  bg-pink-white-off
                {% endif %}">

  <div class="wrapper top-wrapper">

    <div class="item-25">
      <h1 class="page-title">
        {{ page.title-short }}
      </h1>
    </div>
    <div class="item-75">
      <div class="section-line">

      </div>
    </div>

  </div>

  <div class="wrapper">

    <div class="item-50 item-deco">

    </div>
    <div class="item-50 item-content">
      {{content}}
    </div>

  </div>

</section>
