//
// BACKGROUNDS
//

.bg-dark {
  background-color: $color_blue_dark;
}

.bg-blue {
  background-color: $color_blue;
}

.bg-blue-pat {
  $main-color: $color_blue_dark;
  $accent-color: $color_blue;

  @include text-light;
  // background-color: $main-color;
  border-top: 1em solid $accent-color;
  @include tablet {
    border-top: none;
    background-image:
      linear-gradient(
          to left,
          transparent,
          transparent 25%,
          $accent-color 25%,
          $accent-color 100%
        );
    background-repeat: repeat;
    background-position: 0 0;
  }
  @include bigscreen {
    background-image:
      linear-gradient(
          to left,
          transparent,
          transparent calc((.25 * #{$wrapper-width}) + ((100% - #{$wrapper-width})/2)),
          $accent-color calc((.25 * #{$wrapper-width}) + ((100% - #{$wrapper-width})/2)),
          $accent-color 100%
        );
  }
}

.bg-blue-pat-header {
  $main-color: $color_blue_dark;
  $accent-color: $color_blue;

  background-image:
    linear-gradient(
          to bottom,
          rgba(black, .5),
          rgba(black, .6) 100%
      );
  background-repeat: repeat;
  background-position: 0 0;
  border: none;
  @include tablet {
    background-image:
      linear-gradient(
          to right,
          transparent,
          transparent 75%,
          $accent-color 75%,
          $accent-color 100%
        ),
      linear-gradient(
          to bottom,
          rgba(black, .5),
          rgba(black, .6) 100%
        );
  }
  @include bigscreen {
    background-image:
      linear-gradient(
          to right,
          transparent,
          transparent calc((.75 * #{$wrapper-width}) + ((100% - #{$wrapper-width})/2)),
          $accent-color calc((.75 * #{$wrapper-width}) + ((100% - #{$wrapper-width})/2)),
          $accent-color 100%
        ),
      linear-gradient(
            to bottom,
            rgba($main-color, .75),
            rgba($main-color, .8) 100%
        );
  }

  &.nav-fixed {
    background-color: $main-color;

    @include tablet {
      background-image:
        linear-gradient(
            to right,
            transparent,
            transparent 75%,
            $accent-color 75%,
            $accent-color 100%
          ),
        linear-gradient(
            to bottom,
            rgba(black, .5),
            rgba(black, .6) 100%
          ),
        image-url('jsconf-pattern.svg');
    }
    @include bigscreen {
      background-image:
        linear-gradient(
            to right,
            transparent,
            transparent calc((.75 * #{$wrapper-width}) + ((100% - #{$wrapper-width})/2)),
            $accent-color calc((.75 * #{$wrapper-width}) + ((100% - #{$wrapper-width})/2)),
            $accent-color 100%
          ),
        linear-gradient(
              to bottom,
              rgba($main-color, .75),
              rgba($main-color, .8) 100%
          ),
        image-url('jsconf-pattern.svg');
    }

  }
}


.bg-pink-white-off {
  $main-color: $color_white_off;
  $accent-color: $color_pink;

  background-color: $main-color;
  border-top: 1em solid $accent-color;
  @include tablet {
    border: none;
    background-image:
      linear-gradient(
        to left,
        transparent,
        transparent 75%,
        $accent-color 75%,
        $accent-color 100%
      );
  }
  @include bigscreen {
    background-image:
    linear-gradient(
        to left,
        transparent,
        transparent calc((.75 * #{$wrapper-width}) + ((100% - #{$wrapper-width})/2)),
        $accent-color calc((.75 * #{$wrapper-width}) + ((100% - #{$wrapper-width})/2)),
        $accent-color 100%
      );
  }
}

.bg-pink-white {
  $main-color: $color_white;
  $accent-color: $color_pink;

  background-color: $main-color;
  border-top: 1em solid $accent-color;
  @include tablet {
    border: none;
    background-image:
      linear-gradient(
        to left,
        transparent,
        transparent 75%,
        $accent-color 75%,
        $accent-color 100%
      );
  }
  @include bigscreen {
    background-image:
    linear-gradient(
        to left,
        transparent,
        transparent calc((.75 * #{$wrapper-width}) + ((100% - #{$wrapper-width})/2)),
        $accent-color calc((.75 * #{$wrapper-width}) + ((100% - #{$wrapper-width})/2)),
        $accent-color 100%
      );
  }
}


.bg-pat-top {
  $main-color: $color_blue_dark;
  $accent-color: $color_blue_dark;

  // background-color: $main-color;

  border-color: $accent-color;
  border-top: 5em solid $accent-color;

  // border-image: image-url('jsconf-pattern.svg') 90 repeat;

}

.bg-no-border {
  border-top: none;
}
