body {
  font-size: 100%;
  @include font-bernina;
}

body, caption, th, td, input, textarea, select, option, legend, fieldset, h1, h2, h3, h4, h5, h6 {
  font-size-adjust: 0.5;
}

//#page {
//  font-size: 1em;
//  /* equivalent to 16px
//  line-height: 1.25;
//  /* equivalent to 20px
//}
//
//@media (min-width: 43.75em) {
//  #page {
//    font-size: 1em;
//    /* equivalent to 16px
//    line-height: 1.375;
//    /* equivalent to 22px
//  }
//}


.item-content {
  p, ul, ol, blockquote, pre {
    margin-bottom: 1.5em;
  }
  ul, ol {
    list-style: disc;
    padding-left: 1em;
  }
}

// Webfonts and FOUT
.font-bernina {
  @include font-bernina;
}

nav, h1, h2, h3, h4,
.font-bernina-comp {
  @include font-bernina-comp;
}

.font-domus, .site-aside, .date, .btn {
  @include font-domus;
}

/* This trades chance of FOUC for ultra slow loading
.wf-loading {
  h1, h2, h3, h4, h5, p, li, pre, blockquote, span {
    visibility: hidden;
  }
}

.wf-active, .wf-inactive {
  h1, h2, h3, h4, h5, p, li, pre, blockquote, span {
    visibility: visible;
  }
}
*/

strong, b {
  font-weight: bold;
}

em, i {
  font-weight: italic;
}

.intro-p {
  font-size: 1.25em; //20px / 16px
  line-height: 1.25; //25px / 20px
}

h1 {
  font-size: 2em; //2x body copy size = 32px
  line-height: 1.25; //45px / 36px
  margin-bottom: .4em;
}

@media (min-width: 43.75em) {
  h1 {
    font-size: 2.5em; // 2.5x body copy size = 40px
    line-height: 1.125;
  }
}

@media (min-width: 56.25em) {
  h1 {
    font-size: 3em; // 3x body copy size = 48px
    line-height: 1.05; // keep to a multiple of the 20px line height and something more appropriate for display headings
  }
}

h2 {
  font-size: 1.625em; //1.625x body copy size = 26px
  line-height: 1.15384615; //30px / 26px
  margin-bottom: .5em;
}

@media (min-width: 43.75em) {
  h2 {
    font-size: 2em; // 2x body copy size = 32px
    line-height: 1.25;
  }
}

@media (min-width: 56.25em) {
  h2 {
    font-size: 2.25em; // 2.25x body copy size = 36px
    line-height: 1.25;
  }
}

h3 {
  font-size: 1.375em; //1.375x body copy size = 22px
  line-height: 1.13636364; //25px / 22px
  margin-bottom: .666em;
}

@media (min-width: 43.75em) {
  h3 {
    font-size: 1.5em; // 1.5x body copy size = 24px
    line-height: 1.25;
  }
}

@media (min-width: 56.25em) {
  h3 {
    font-size: 1.75em; // 1.75x body copy size = 28px
    line-height: 1.25;
  }
}

h4 {
  font-size: 1.125em; //1.125x body copy size = 18px
  line-height: 1.11111111;
  margin-bottom: .875em;
}

@media (min-width: 43.75em) {
  h4 {
    line-height: 1.22222222; // (22px / 18px
  }
}

blockquote {
  font-size: 1.25em; //20px / 16px
  line-height: 1.25; //25px / 20px
}

@media (min-width: 43.75em) {
  blockquote {
    font-size: 1.5em; // 24px / 16px
    line-height: 1.45833333; // 35px / 24px
    border-left: 3px solid #FFF;
    padding-left: 1em;
  }
}