/* Colors */
$color_pink: #E10079;  /* main jsconfeu pink */
$color_pink_light: #e4a1c8;  
$color_blue: #051add;
$color_blue_dark: #0C1222;
$color_blue_light: #4b6ab3;
$color_white: #FFF;
$color_white_off: #f1f1f1;

$wrapper-width: 1280px;

$site-padding: 20px;

$border-width: 3px;
